@import url("variaveis.css");
@import url("formulario.css");
@import url("responsividade.css");

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: var(--cor-fundo);
}
